/*
jQuery MultiFreezer - scrollable tables with freezed thead and (n) first columns.
(c) 2017 Jan Renner (http://janrenner.cz, jan.renner@gmail.com)
https://jsfiddle.net/2oj9c5q2/7/ - layout final
https://jsfiddle.net/2oj9c5q2/10/ - JS scrolling
https://jsfiddle.net/2oj9c5q2/19/ - before cloning
https://jsfiddle.net/2oj9c5q2/21
*/

/*freezer*/

/*
-------------------- (#freezer-example) - common wrapper, not a part of freezer
    -------------------- .freeze-multi-scroll-wrapper = wrapper
        -------------------- .freeze-multi-scroll-table
            -------------------- .freeze-multi-scroll-table-head
                -------------------- .freeze-multi-scroll-table-head-inner = headblock
                    <table><thead> .table-freeze-multi-clone
                --------------------|
            --------------------|
            -------------------- .freeze-multi-scroll-table-body = scroller
                <table> .table-freeze-multi (original table) = table
                ====================================================
            --------------------|
        --------------------|
        -------------------- .freeze-multi-scroll-left
            -------------------- .freeze-multi-scroll-left-head = topblock
                <table><thead> .table-freeze-multi-clone
            --------------------|
            -------------------- .freeze-multi-scroll-left-body
                -------------------- .freeze-multi-scroll-left-body-inner = leftblock
                    <table><thead> .table-freeze-multi-clone
                --------------------|
            --------------------|
        --------------------|
    --------------------|
--------------------|
*/

.table-freeze-multi, .table-freeze-multi-clone {
    table-layout: fixed;
    width: 100%;
}

.freeze-multi-scroll-wrapper {
    position: relative;
    clear: both;
}

.freeze-multi-scroll-table {}

.freeze-multi-scroll-table-head {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.freeze-multi-scroll-table-head-inner {
    box-sizing: content-box;
}

.freeze-multi-scroll-table-body {
    position: relative;
    overflow: scroll;
    width: 100%;
}

.freeze-multi-scroll-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
}

.freeze-multi-scroll-left-head {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.freeze-multi-scroll-left-body, .freeze-multi-scroll-left-body-inner {
    position: relative;
    top: 0;
    left: 0;
}

.freeze-multi-scroll-left-body{
    overflow: hidden;
}

.freeze-multi-scroll-left-body-inner {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* @see https://davidwalsh.name/detect-scrollbar-width */

/* way the hell off screen */

.freezer-scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}

td {
    border: 1px solid white;
}

.group1 {
    background: #e7e7e7;
    color: black;
    text-align: center;
}

.group2 {
    background: #d6d6d6;
    color: black;
    text-align: center;
}

/* .freeze-multi-scroll-wrapper {
    width: 1100px !important;
} */