body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft JhengHei", Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    /* background-color: #00001d; */
}

html, body {
    height: 100%;
}

html {
    overflow-y: scroll;
    height: 100%;
}

td, th, caption {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1em;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: bolder;
}

strong {
    font-size: 1.1em;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
    max-width: 100%;
}

ol, ul, li {
    list-style: none;
    box-sizing: border-box;
}

input, textarea, select, button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}

input {
    border: none;
    box-sizing: border-box;
    padding: 0 10px;
}

input::placeholder {
    font-size: 14px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

header, footer, div {
    box-sizing: border-box;
}

td a {
    color: #00bff8 !important;
    font-weight: 900;
}

/* css common */

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.col-sm-12 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.layout {
    width: 100%;
    margin: 0 auto;
}

.content {
    /* margin: auto;
    width: 1280px; */
    margin: 0 auto;
    width: 85%;
    display: table;
}

@media screen and (max-width:1280px) {
    .content {
        width: 100%;
        display: table;
        /* height: 100vh; */
        margin: 0 auto;
    }
}

@media screen and (max-width:768px) {
    .login-box .content {
        height: 100vh;
    }
}

.w85{
    width: 85%;
}

.layout-flex {
    display: flex;
    align-items: center;
}

.layout-flex-start {
    display: flex;
}

@media screen and (max-width:768px) {
    .layout-flex, .layout-flex-start {
        display: block;
    }
}

.box {
    text-align: center;
    width: 100%;
}

.box>div {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 20px;
}

@media screen and (max-width: 1280px) {
    .box>div {
        width: 90%;
    }
}

/* bootstrap*/

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 1 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-sm-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-sm-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-sm-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-sm-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-sm-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-md-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 45%;
    }
    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-lg-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-lg-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-lg-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-xl-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-xl-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-xl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-xl-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-xl-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-xl-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-xl-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xl-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-xl-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-xl-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* all page background */

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background: white!important;
}

.top-ctrl {
    display: flex;
    align-items: center;
}

.top-ctrl img {
    width: 32px;
}

.top-ctrl a {
    padding: 5px;
    color: #555 !important;
    text-decoration: none;
    cursor: pointer;
}

.top-ctrl a:hover {
    color: #18228e;
}

.top-ctrl p {
    font-size: 12px;
}

.person {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.bottom {
    background: #378cfc;
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: 14px;
    line-height: 1.6em;
}

.content-box {
    background: #00001d;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
}

@media screen and (max-width:768px) {
    .content-box {
        height: 100%;
    }
}

/* login */

.login-box {
    background-image: url(../images/53073318_m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
}

@media screen and (max-width:768px) {
    .login-box {
        height: 100%;
    }
}

.main-login {
    display: table-row;
    align-items: center;
    margin: 0 20px;
}

@media screen and (max-width:768px) {
    .main-login {
        display: block;
    }
}

.main-login .login-img img {
    display: flex;
    margin: auto;
    padding: 20px 0;
}

.main-login .login-img, .main-login .login-form {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100vh;
}

@media screen and (max-width:768px) {
    .main-login .login-img, .main-login .login-form {
        width: 100%;
        display: block;
        height: auto;
    }
}

.login-form {
    /* background-color: rgba(65, 65, 65, 0.2); */
    width: 100%;
}
.login-form-bg {
    background-color: rgba(65, 65, 65, 0.2);
}


@media screen and (max-width:768px) {
    .main-login .login-form {
        margin-bottom: 5%;
    }
}

.login-form>div {
    padding: 20px;
}

.login-form h2 {
    color: white;
    text-align: center;
    line-height: 2em;
    border-bottom: 1px white solid;
}

.login-form input {
    width: 100%;
    height: 3em;
    margin: 15px 0;
    border-radius: 10px;
}

.login-form .login-form-ctrl {
    display: flex;
    justify-content: space-around;
}

.login-form-fogPwd, .login-form-crtAct {
    text-align: right;
    padding: 10px 0;
}

.login-form-fogPwd a {
    color: white;
    font-size: 1em;
    line-height: 2em;
}

.login-form-crtAct a {
    color: red;
    font-size: 1em;
    line-height: 2em;
}

@media screen and (max-width:487px) {
    .login-form .login-form-ctrl {
        display: block;
        text-align: center;
    }
    .login-form-fogPwd, .login-form-crtAct {
        text-align: center;
    }
}

.login-form .login-form-logBtn {
    text-align: center;
    padding: 10px 0;
}

.login-form .login-form-logBtn>button {
    color: white;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    width: 100%;
    border-radius: 10px;
    font-size: 1.4em;
    padding: 10px;
    transition: 0.3s;
    background-size: 200% auto;
    box-shadow: 1px 1px 1px #555;
}

.login-form .login-form-logBtn>button:hover {
    background-position: right center;
}

/* forget password */

.login-form .login-form-fogBtn {
    text-align: center;
    padding: 10px 0;
}

.login-form .login-form-fogBtn>button {
    color: white;
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
    width: 100%;
    border-radius: 10px;
    font-size: 1.4em;
    padding: 10px;
    transition: 0.3s;
    background-size: 200% auto;
    box-shadow: 1px 1px 1px #555;
}

.login-form .login-form-fogBtn>button:hover {
    background-position: right center;
}

/* Register1 */

.reg-box {
    padding: 0 5%;
}

#step-mobile {
    display: none;
}

@media screen and (max-width:768px) {
    #step-mobile {
        display: block;
    }
    #step-fullScreen {
        display: none;
    }
}

.step-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
}

@media screen and (max-width:768px) {
    .step-box {
        margin: auto;
    }
}

.step-num {
    text-align: -webkit-center;
}

.step-num button {
    display: flex;
}

.step-num h4 {
    margin: auto;
}

.step {
    background: #00bdf2;
    color: white;
    text-align: center;
    width: 300px;
    padding: 10px;
    border-radius: 40px;
    line-height: 40px;
    margin: 10px 0;
}

@media screen and (max-width:1400px) {
    .step {
        width: 280px;
    }
}

@media screen and (max-width:1000px) {
    .step {
        width: 240px;
    }
}

@media screen and (max-width:840px) {
    .step {
        width: 200px;
    }
}

@media screen and (max-width:768px) {
    .step {
        width: 300px;
    }
}

@media screen and (max-width:320px) {
    .step {
        width: 95%;
    }
}

.active {
    background: #0066ff;
}

.num {
    color: black;
    background-image: linear-gradient(to right, #cacaca 0%, #FFFFFF 51%, #dcdcdc 100%);
    box-shadow: 1px 1px 1px #555;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.input-box {
    display: flex;
    width: 100%;
}

@media screen and (max-width:768px) {
    .input-box {
        display: block;
    }
}

.input {
    width: 50%;
    padding: 15px;
}

@media screen and (max-width:768px) {
    .input {
        width: 100%;
    }
}

.input-title {
    color: white;
    padding: 5px 0;
}

.input1 {
    width: 100%;
    padding: 15px;
}

.input input {
    width: 100%;
    border-radius: 10px;
    height: 36px;
}

.input1 input {
    width: 100%;
    border-radius: 10px;
    height: 36px;
}

.input div span, .input1 div span {
    color: red;
}

.input-box-subBtn {
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 20px;
}

.subBtn {
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    transition: 0.3s;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    background-size: 200% auto;
    box-shadow: 0px 1px 1px #555;
}

@media screen and (max-width:768px) {
    .subBtn {
        width: 100%;
    }
    .input-box-subBtn {
        width: 60%;
        padding: 20px 10px;
    }
}

@media screen and (max-width:430px) {
    .input-box-subBtn {
        width: 100%;
    }
}

.subBtn:hover {
    background-position: right center;
}

.subBtn:focus {
    border: 1px solid white;
}

/* Register2 */

.reg-cont {
    padding: 20px;
    margin-bottom: 100px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 3px grey;
}

.reg-cont p {
    line-height: 2em;
    padding: 5px;
}

/* ui-1 */

.block {
    background-color: rgba(128, 128, 128, .3);
    border-radius: 10px;
    margin: 20px;
    width: 45%;
    height: 300px;
    margin: auto;
}

.block-add {
    border-radius: 10px;
    margin: 20px;
    width: 45%;
    height: 300px;
    margin: auto;
}

@media screen and (max-width:768px) {
    .block, .block-add {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
    .box>div {
        display: block;
        padding: 0;
    }
}

.block-add img {
    width: 120px;
    transition: .3s;
    cursor: pointer;
    padding: 80px 0;
    cursor: pointer;
}

.block-add img:hover {
    width: 130px;
    transition: .3s;
}

.block-close {
    text-align: right;
    width: 100%;
}

.block-close img {
    cursor: pointer;
    width: 20px;
    padding: 10px;
}

.block-close img:hover {
    transform: rotate(360deg);
    transition: 1s;
}

.block-cont {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.block-cont .cont-img {
    width: 40%;
    text-align: center;
}

.block-cont .cont-img span {
    position: absolute;
    width: 60px;
}

.block-cont .cont-img img {
    padding: 10px;
    width: 100px;
}

.block-cont .cont-infor {
    width: 60%;
    padding: 10px;
    text-align: left;
}

.edit-title {
    width: 100%;
    display: flex;
    align-items: center;
}

.edit-title p {
    color: white !important;
}

.editBtn, .new-date {
    color: white;
}

.cont-information {
    color: white;
    padding: 10px 0;
}

.cont-information li {
    font-size: 1em;
    line-height: 22px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.cont-information h3 {
    text-align: right;
}

.cont-information li img {
    margin: 0 5px;
    width: 20px;
}

.cont-information .using {
    display: block;
    text-align: right;
    font-size: 1.4em;
}

/* create product */

.product-title {
    text-align: center;
    display: block !important;
}

.product-title h3 {
    margin: auto;
}

/* ui-2-1 */

.sidebar {
    color: white;
    background-color: rgba(128, 128, 128, .3);
    padding: 10px;
    margin: 20px;
    height: 600px;
}

.sidebar h3 {
    border-bottom: 1px solid white;
    margin: 10px;
    font-size: 1.8em;
    word-break: break-all;
}

.sidebar-img {
    text-align: center;
}

.sidebar-img img {
    width: 140px;
    border-radius: 10px;
}

@media screen and (max-width:978px) {
    .sidebar-img img {
        padding: 0;
    }
}

.battery-box {
    display: flex;
    border: 2px solid #818181;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, .3);
    cursor: pointer;
    margin: 20px;
    height: 140px;
}

.battery-num {
    background: #b6b6b6;
    color: white;
    display: flex;
    border-radius: 10px 0 0 10px;
    padding: 10px 20px;
}

.battery-num p {
    margin: auto;
}

.battery-cont {
    width: 100%;
    align-items: center;
}

.power-img {
    margin: auto;
    padding-left: 20px;
}

@media screen and (max-width:400px) {
    .power-img {
        text-align: center;
    }
}

.power-img img {
    width: 120px;
}

.power-infor {
    margin: auto;
    padding-left: 20px;
}

.power-infor ul li {
    color: white;
}

.power-infor ul li img {
    display: flex;
    align-items: flex-start;
    width: 20px;
    padding-left: 10px;
}

/* .power-infor .degree {
    display: flex;
    align-items: center;
    white-space: nowrap;
} */

/* .power-infor .status {
    display: flex;
    align-items: center;
    white-space: nowrap;
} */

/* ui-2-234 */

.sign {
    display: flex;
    justify-content: flex-end;
    width: 100%
}

@media screen and (max-width:991px) {
    .sign {
        justify-content: center;
    }
}

.sign .bty-status {
    display: flex;
    align-items: center;
}

.sign .bty-status img {
    width: 20px;
    padding: 10px;
}

/* ui-2-5 */

.reply-cont {
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 3px grey;
    height: 160px;
}

.customer-img img {
    width: 120px;
    cursor: pointer;
}

.customer-reply {
    margin: auto;
}

.customer-reply p {
    line-height: 1.4em;
}

input[type=text]:disabled {
    background: #dddddd;
}

select:disabled {
    background: #dddddd;
}

@keyframes blink {
    50% {
        color: transparent;
    }
}

/*ctrl*/

input.editName {
    background: transparent !important;
    color: white;
    width: 90%;
    font-size: 1.4em;
}

.battery {
    position: relative;
    display: block;
    background: #ffffff;
    width: 10px;
    height: 28px;
    float: left;
}

.battery {
    background: rgb(157, 213, 58);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(157, 213, 58, 1)), color-stop(50%, rgba(161, 213, 79, 1)), color-stop(51%, rgba(128, 194, 23, 1)), color-stop(100%, rgba(124, 188, 10, 1)));
    background: -webkit-linear-gradient(top, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%);
    background: -o-linear-gradient(top, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%);
    background: -ms-linear-gradient(top, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%);
    background: linear-gradient(to bottom, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=0);
}

.battery:before {
    display: block;
    background: transparent;
    border: 6px solid #ffffff;
    margin: -12px;
    width: 85px;
    height: 40px;
    position: absolute;
    border-radius: 2px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: -2px 0 5px 2px #222;
    z-index: 2000;
}

.battery:after {
    display: block;
    background: #ffffff;
    border: 6px solid #ffffff;
    margin: 0px 80px;
    width: 6px;
    height: 16px;
    position: absolute;
    border-radius: 2px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px #888;
    box-shadow: 2px 0 5px 2px #222;
    z-index: 0;
}

@-webkit-keyframes charging1 {
    from {
        width: 0px;
    }
    to {
        width: 60%;
    }
}

@-moz-keyframes charging1 {
    from {
        width: 0px;
    }
    to {
        width: 60%;
    }
}

@-o-keyframes charging1 {
    from {
        width: 0px;
    }
    to {
        width: 60%;
    }
}

@keyframes charging1 {
    from {
        width: 0px;
    }
    to {
        width: 60%;
    }
}

.charging {
    -webkit-animation: charging1 3s ease-in-out infinite;
    -moz-animation: charging1 3s ease-in-out infinite;
    -o-animation: charging1 3s ease-in-out infinite;
    animation: charging1 3s ease-in-out infinite;
}

.charging_txt {
    font-size: 1em;
    line-height: 1.8em;
    text-align: right;
    clear: both;
}

@-webkit-keyframes glow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes glow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes glow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes glow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.glow {
    -webkit-animation: glow 3s ease-in-out alternate infinite;
    -moz-animation: glow 3s ease-in-out alternate infinite;
    -o-animation: glow 3s ease-in-out alternate infinite;
    animation: glow 3s ease-in-out alternate infinite;
}

.inputError {
    color: red;
    font-size: 14px;
}

/* manager */

.side-box {
    width: 30%;
    padding: 5%;
}

.main-box {
    width: 70%;
    padding: 5%;
}

.main-box-1 {
    width: 50%;
}

.main-box-2 {
    width: 15%;
}

@media screen and (max-width:768px) {
    .side-box, .main-box {
        width: 100%;
        overflow: hidden;
    }
    .main-box-1 {
        width: 95%;
        margin: auto;
        clear: both;
    }
    .main-box-2 {
        width: 100%;
        text-align: center;
    }
}

.title-icon {
    text-align: center;
}

@media screen and (max-width:768px) {
    .title-icon {
        display: block;
        text-align: center;
    }
}

.title-icon img {
    width: 60px;
}

.title-icon span {
    color: #00bdf2;
    font-size: 34px;
}

.ctrl-box1 {
    background: -webkit-linear-gradient(#434343, #1f1f1f);
    background: -o-linear-gradient(#434343, #1f1f1f);
    background: -moz-linear-gradient(#434343, #1f1f1f);
    background: linear-gradient(#434343, #1f1f1f);
    cursor: pointer;
}

.ctrl-box2 {
    background: -webkit-linear-gradient(#343434, #000000);
    background: -o-linear-gradient(#343434, #000000);
    background: -moz-linear-gradient(#343434, #000000);
    background: linear-gradient(#343434, #000000);
    cursor: pointer;
}

.ctrl-box1, .ctrl-box2  {
    position: relative;
    height: 250px;
}

@media screen and (max-width:768px) {
    .ctrl-box1, .ctrl-box2 {
        float: left;
        width: 50%;
        margin-bottom: 20px;
        height: 150px;
    }
}

.ctrl-box-btn {
    text-align: center;
    position: absolute; 
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ctrl-box-btn p {
    color: white;
    padding: 10px;
}

.ctrl-box-btn img {
    width: 60px;
}

@media screen and (max-width:768px) {
    .ctrl-box-btn img {
        width: 30px;
    }
}

.border {
    background: white;
    margin: auto;
    width: 100px;
    height: 10px;
}

.border-focus {
    background: #00bdf2;
}

.title-ctrl {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 30px 0;
}

.right-top-title-ctrl1{
    height: 110px;
    padding: 0px; 
    position: relative;
    padding-bottom: 2em;
}

#rotate_icon{
    position: absolute;
    right: 30px;
    top: 10px;
    display: none;
}

.display-ctrl{
    display: flex;
}

@media screen and (max-width:1200px) {
    .title-ctrl {
        display: block;
    }

    .left-top-span-ctrl {
        display: block;
    }

    .right-top-title-ctrl {
        padding: 28.5px 0;
    }

    .right-top-title-ctrl1{
        height: 155px;
    }

    #rotate_icon{
        display: block;
    }

    .display-ctrl{
        display: flex;
    }
}

@media screen and (max-width:768px) {
    #rotate_icon{
        position: static;
    }

    .display-ctrl{
        display: table;
    }
}

.title-ctrl h3, .title-ctrl p {
    color: white;
}

.opbox {
    color: white;
    display: flex;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .opbox {
        display: block;
        padding-right: 0px;
    }
}

.opbox p {
    margin-right: 5px;
}

@media screen and (max-width:1200px) {
    .opbox p {
        width: 20%;
    }
}

.op1 {
    background: white;
    color: black;
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

.op1 option {
    color: black !important;
}

@media screen and (max-width:768px) {
    .op1 {
        width: 100%;
    }
}

.scroll {
    overflow: scroll;
    width: 100%;
    height: 510px;
}

.table-box {
    border-collapse: collapse;
    color: white;
    width: 800px;
}

tr th {
    background: #202743;
}

tr, td, th {
    border: 1px solid white;
    padding: 10px;
}

.group1 {
    background: #e7e7e7;
    color: black;
    text-align: center;
}

.group2 {
    background: #d6d6d6;
    color: black;
    text-align: center;
}

.bat-box {
    text-align: center;
    padding: 67px 30px 0 30px;
}

@media screen and (max-width:768px) {
    .bat-box {
        padding: 30px
    }
}

.search-input {
    width: 100%;
}

.op2 {
    background: white;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 10px 0;
}

.search-box {
    text-align: center;
    display: flex;
}

@media screen and (max-width: 768px) {
    .search-box {
        display: block;
    }
}

.ser-btn {
    text-align: center;
    color: black;
    background: #d6d6d6;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    margin: 10px;
}

.ser-btn-on {
    background: #00bff8;
    color: black;
}

.ser-btn1 {
    text-align: center;
    color: white;
    background: #00bff8;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    margin: 0 10px;
}

.bat-ctrl {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 30px 0;
}

.bat-display {
    color: white;
    width: 50%;
    margin: 0 10px;
    text-align: center;
}

.bat-display p {
    text-align: left;
    word-break: break-all;
}

.bat-display img {
    width: 100px;
}

@media screen and (max-width:480px) {
    .bat-ctrl {
        display: block;
        padding: 0 0 30px;
    }
    .bat-display {
        width: 100%;
        margin: 20px auto;
    }
    .ser-btn {
        margin: 10px 0;
    }
    .ser-btn1 {
        width: 145px;
    }
    .bat-display img {
        width: 80px;
    }
}

.bat-detail {
    display: flex;
    overflow: scroll;
    justify-content: space-between;
    width: 100%;
    height: 620px;
}

.bat-detail h4 {
    color: #c20068;
    font-weight: 700;
}

.ctrl-row {
    padding: 10px 0;
    display: inline-block;
}

.text-box {
    display: flex;
    background: #e7e7e7;
    border: 1px solid #818181;
    justify-content: space-between;
    padding: 5px;
    margin: 0 8px;
    width: 315px;
}

.text-box p {
    word-break: keep-all;
    color: black;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

.text-box-value {
    display: flex;
    background: #e7e7e7;
    border: 1px solid #818181;
    padding: 0px;
    margin: 8px;
}

.bat-status-box {
    background: white;
    padding: 0px;
    margin: 30px 0;
}

.des-box {
    width: 157px;
    margin: 0 5px;
}

.value {
    background: #afffb1;
    width: 12.5%;
    height: 28px;
    border: 1px solid #b7b7b7;
}

.value-er {
    background: #ffa8ad;
    width: 12.5%;
    height: 28px;
    border: 1px solid #b7b7b7;
}

.group-d {
    margin-bottom: 20px;
    display: inline-block;
}

.head-col {
    padding: 10px 30px;
}

.wide-table {
    display: flex;
    width: 100%;
    height: 550px;
}

.inside-table-x {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
}

.inside-table-y {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}

.left {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 38%;
    height: 550px;
}

@media screen and (max-width:768px) {
    .left {
        overflow-x: auto;
    }
}

.right {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 64%;
    height: 550px;
}

table tr th {
    background: #202743;
    color: white;
    text-align: center;
}

.table-box-1 {
    border-collapse: collapse;
    color: white;
    width: 100%;
}

.page-box {
    color: white;
    padding: 10px;
    text-align: center;
}

.page-box a, .page-box span {
    color: white;
    padding: 10px;
}

.title1 {
    padding: 10px 24px;
}

.title2 {
    padding: 10px 13px;
}

.title3 {
    padding: 10px 21px;
}

.title4 {
    padding: 0 25px;
}

.title5 {
    padding: 0 18px;
}

.title6 {
    padding: 0 17px;
}

.title7 {
    padding: 0 17px;
}

.fix-width {
    padding: 10px 34px;
}

@media screen and (max-width:450px) {
    .width-pad {
        padding: 0 21px;
    }
}

.bt-top {
    width: 50%;
    height: 30px;
    background: white;
    margin: auto;
    position: relative;
}

.bt-body {
    width: 100%;
    padding: 10px;
    background: white;
    margin: auto;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .bt-top {
        width: 50px;
    }
    .bt-body {
        width: 100px;
    }
}

.bat-off {
    width: 100%;
    height: 20px;
    margin: 5px 0;
    background: #d6d6d6;
}

.bat-on {
    width: 100%;
    height: 20px;
    margin: 5px 0;
    background: #00bff8;
}

.edit-user {
    width: 100%;
    height: 36px;
    background: white;
}

.edit-info {
    width: 100%;
    text-align: right;
}

.edit-info span {
    color: white !important;
    cursor: pointer;
}

.inputArea {
    width: 100%;
    background: #dddddd;
}

.tab-title {
    align-items: center;
    /* display: flex; */
    justify-content: center;
}

.send-mail a {
    color: #00bdf2 !important;
}

.highlight {
    background: #b1b1b1 !important;
}

.dw {
    -webkit-animation: fade 2s;
    animation: fade 2s;
}

.dw .input-wrap {
    display: table;
    width: 100%;
    margin: 5px 0;
    position: relative;
}

.dw .input-wrap label {
    width: 40%;
    padding: 5px;
    display: table-cell;
    word-break: break-all;
}

.dw .input-wrap input {
    width: 100%;
    height: 25px;
    border: 1px solid #e1e1e1;
    padding-right: 35px;
}

.dw .input-wrap input+span {
    position: absolute;
    right: 10px;
}

.dw .col {
    width: 12.5%;
    height: 65px;
    font-size: 10px;
    word-break: break-all;
    float: left;
    padding: 5px;
    border: 1px solid #fff;
}

.dw .col.green {
    background: #008000;
}

.dw .col.red {
    background: #f24736;
}

.dw {
    box-sizing: border-box;
    -webkit-column-gap: 0;
    column-gap: 0;
    height: 620px;
    overflow: auto;
}

.dw h3 {
    color: red;
    margin-top: 0;
}

.dw * {
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .dw {
        height: unset;
    }
}

@media (min-width: 768px) {
    .dw {
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 769px) {
    .bat-position {
        text-align: left;
        padding-left: 1.6em;
        width: 30%;
    }
}

.dw-pnl {
    padding: 5px;
    color: #000000
}

.dw-pnl__cntnt {
    background: #f5f5f5;
    overflow: hidden;
    padding: 10px;
    width: 100%;
    box-shadow: inset 0px 0px 11px 2px rgba(3, 3, 3, 0.15);
}

@media (min-width: 768px) {
    .dw-pnl {
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.table thead,
.table thead tr th:last-child(),
.table-freeze-multi-original tr td:last-child() {
    border-right: none;
}

@media screen and (orientation:landscape) {
    .battery-cont {
        width: 70%;
    }
}